form * {
  display: block;
  width: 80%;
  margin: 1em;
}

#checkbox {
  display:inline;

}
/* input[type=checkbox] { 
  vertical-align: middle; 
  position: relative; 
  bottom: 1px; 
} 

label { 
  display: block; 
}  */
